$blue: #00a8cc
$light-blue: #16b3d6
$green: #42b883
$orange: #f48024
$black-dark: rgba(41, 41, 41, 0.9)
$black-medium: rgba(41, 41, 41, 0.7)
$black-light: rgba(41, 41, 41, 0.5)
$white: #ffffff
$light-white: #f4f4f4