#container 
  width: 100% 
  position: absolute 
  top: 8vh 
  height: 90vh 
  text-align: center 

.pageHeading 
  font-size: xx-large 
  color: rgba(41,41,41,0.8) 
  margin: 1% 

#title-error, #body-error, #tag-error  
  color: red 
  text-align: center 

.ql-toolbar  
  margin-top: 1% 

.ql-editor  
  font-size: large !important 

.ql-syntax  
  background-color: whitesmoke !important 
  color: black !important  
  overflow: visible 

.ql-tooltip  
  left:0 !important

.editor-box  
  align-self: center 
  width: 60% 
  text-align: left 

#editor  
  height: 60% 
  margin-bottom: 2% 

label  
  font-size: large 
  width: 80% 
  color: rgba(41,41,41,0.7) 

input[name="title"], .tags-list, .tag-suggestions  
  font-size: large 
  margin-top: 1% 
  outline: none 
  border: 1px solid #ccc 
  width: 100% 
  padding: 1vh 0 1vh 1vh 

input::placeholder 
  opacity: 0.7 
  font-size: large 

.tags-list   
  margin-bottom: 0 
  width: 100% 
  padding: 0 
.tags-list > input  
  border: none 
  outline: none 
  font-size: large 
  height: 100% 
  padding: 1vh 
  align-self: center 

.tags  
  overflow: hidden 
  padding: 1vh 0vh 1vh 1vh 

.cross-btn  
  cursor: pointer 
  padding: 1px 2px 

.cross-btn:hover  
  background-color: #006379 

.tag-suggestions  
  margin-top: 0 
  background-color: white 
  width: 99% 
  display: flex 
  flex-wrap: wrap 
  border-top: none 

.tag-suggestions > .tag  
  margin: 1vh 

#formFooter  
  width: 80% 
  margin-top: 2% 

a  
  text-decoration: none 
  text-align: center 
  justify-content: center 

a, #formFooter > button  
  margin-right:5% 
  width: 20% 
  height: 5vh 
  font-size: larger 
  background-color: #00a8cc 
  color: #ffffff 
  border: none 
  outline: none 
  transition: border .3s ease-in 

#formFooter > a:hover, #formFooter > button:hover  
  box-shadow: 0px 0px 3px 0px rgb(66, 66, 66) 
  cursor: pointer 

.blind  
  opacity: 0 
