@use "./defaultConfig" as *
  
.post-answer 
  margin-right: 4vw 
  margin-top: 2vh 
  border-bottom: solid 2px $black-light

.post-answer > span 
  font-size: 20px 
  color: $orange

.post-answer > .editor-box 
  margin:1% 0vw 0% 2vw 

.editor-style 
  min-height: 25vh 
  margin-bottom: 2% 

.editor-box 
  @include editor-box
  width: 82.25% 

.ql-editor 
  @include ql-editor
  
.ql-syntax 
  @include ql-syntax
  
.ql-tooltip 
  @include ql-tooltip
  
.formFooter 
  width: 80% 
  margin-bottom: 1.5% 

.formFooter > button 
  @include formFooter-btn
  margin-right:5% 
  width: 30% 
  height: 5vh 
  background-color: $blue 

.formFooter > a:hover, .formFooter > button:hover 
  @include formFooter-hover
  
.popUp 
  color: red 
  align-self: center 
.hide 
  display: none 