doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title home page
    style
      include ../public/css/home.css
    script(src="../js/renderHeader.js")
  body(onload=`renderHeader(${questions.length})`)
    include titleBar
    include menuBar
    include questions