doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Inquire - Home
    link(rel="stylesheet", href="/styles/titlebar.css")
    link(rel="stylesheet", href="/styles/menubar.css")
    link(rel="stylesheet", href="/styles/home.css")
    script(src="../js/home.js")
    script(src="../js/renderingDates.js")
  body(onload=`main()`)
    include titleBar
    include menuBar
    include questions
    +getQuestions('All the Questions')