doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title home page
    style
      include ../public/css/home.css
    script(src="../js/toggleHighlight.js")
  body(onload="highlighter('Home')")
    include titleBar
    include menuBar
    include questions