doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Inquire - Login
    link(rel="stylesheet", href="/styles/login.css")
  body
    #container.flex-column
      .quotation
        .quote Inquire helps you to learn and share your 
        .quote programming knowledge as well as clear your doubts.
      .box.flex-column
        .legend Inquire
        button(onclick="(window.location.href='/login')") Login With Github
        button(onclick="(window.location.href='/')") Continue Without Login
        