doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Inquire - New Profile
    link(rel="stylesheet", href="/css/newProfile.css")
  body(style="margin:0")
    #container
      form(action="/newProfile", method="post")
        legend Welcome to Inquire!
        legend Fill the Form to continue
        label Name
          input(type="text" name="name" required autofocus)
        label Username
          input(type="text" name="username" required autofocus)
        label Email
          input(type="text" name="email")
        label Company
          input(type="text" name="company")
        label Bio
        textarea(name="bio" id="bio")
        #formFooter
          button Submit
          a(href="/cancel" id="cancelButton") Cancel
