link(rel="stylesheet", href="/styles/postAnswer.css")
script(src="/js/editor.js")
mixin getPostAnswer(qId)
  .post-answer
    span Post Your Answer
    .editor-box
      #editor.editor-style
      .formFooter.flex-row.edit-answer-btns
        button(onclick=`postAnswer('${userInfo && userInfo.id}','${qId}',this)`) Post Answer
        .popUp.hide