html
  head
    title Inquire
    style
      include ../public/css/home.css
      include ../public/css/postQuestion.css
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/hopscotch.min.css")
    link(rel="stylesheet", href="https://cdn.quilljs.com/1.3.6/quill.snow.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js")
    script(src="https://cdn.quilljs.com/1.3.6/quill.js")
    script(src="https://cdn.quilljs.com/1.3.6/quill.min.js")
    script(src="/js/editor.js")
    script(src="/js/postQuestion.js")
  body(onload="renderEditor()")
    include titleBar
    div(id="container")
      p(class="pageHeading") Post Your Question
      div(class='editor-box')
        div(id='title-error' class="blind") Please enter the title atleast of 20 characters
        label Title :
        input(type="text" name="title" placeholder="Enter title ..." autofocus)
        div(id='body-error' class="blind") Please enter the body atleast of 30 characters
        label Body :
        div(id='editor')
        div(id='tag-error' class="blind") Please enter the tags atleast of 2 tags
        label Tags :
        div(class="tags-list")
          span(class="tags")
          input(type="text" name="tags" placeholder="Enter tags ..." onkeyup="selectTag(this)")
        div(id="formFooter")
          button(onclick='postQuestion(this)') Submit
          a(href="/home" id="cancelButton") Cancel
