html
  head
    title Inquire
    style
      include ../public/css/home.css
      include ../public/css/askQuestion.css
  body
    include titleBar
    div(id="container")
      p Post Your Question
      form(action="/postQuestion" method="POST")
        label Title :
        input(type="text" name="title" placeholder="Enter title ..." required autofocus)
        label Body :
        textarea(name="body", cols="30", rows="10" placeholder="Enter content...")
        label Tags :
        input(type="text" name="tags" placeholder="Enter tags ...")
        div(id="formFooter")
          button Submit
          a(href="/home" id="cancelButton") Cancel
