style
  include ../public/css/postAnswer.css
script(src="/js/editor.js")
div(class="post-answer")
  span Post Your Answer
  div(class='editor-box')
    div(id='toolbar')
    div(id='editor')
    div(id="formFooter")
      button(onclick=`postAnswer(${userId},'${questionDetails.id}',this)`) Post Answer
      div(class="popUp hide")