script.
  const toggleShow = function() {
    const popup = document.querySelector('.popUp-text');
    popup.classList.toggle('show');
  }
.titleBar
  .logo(onClick="window.location.href='/'") Inquire
  .userInfo
    if userInfo
      -const {id,username,avatar} = userInfo
      .userName=username
      .avatar
        img( src=`${avatar}`, alt="alt" onclick="toggleShow()" )
        span.popUp-text
          button.profile-options(onClick=`window.location.href='/viewProfile?id=${id}'`) ViewProfile
          button.profile-options.margin-auto(onClick="window.location.href='/cancel'") Logout
    else
      button.pageBtn(onClick="window.location.href='/loginPage'") Login