script.
  const toggleShow = function() {
    const popup = document.querySelector('.popUp-text');
    popup.classList.toggle('show');
  }
div(class="titleBar")
  div(class="logo" onClick="window.location.href='/'") Inquire
  div(class="userInfo")
    if userInfo
      -const {id,username,avatar} = userInfo
      div(class="userName")=username
      div(class="avatar")
        img( src=`${avatar}`, alt="alt" onclick="toggleShow()" )
        span(class="popUp-text" )
          button(class="profile-options" onClick=`window.location.href='/viewProfile?id=${id}'`) ViewProfile
          button(class="profile-options margin-auto" onClick="window.location.href='/cancel'") Logout
    else
      button(class="pageBtn" onClick="window.location.href='/loginPage'") Login