doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title home page
    link(rel="stylesheet", href="/css/home.css")
    script(src="../js/home.js")
    script(src="../js/renderingDates.js")
  body(onload=`main(${questions.length})`)
    include titleBar
    include menuBar
    include questions
    +getHeader(`You have ${questions.length} Questions`)