doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Inquire - Your Tags
    link(rel="stylesheet", href="/styles/titlebar.css")
    link(rel="stylesheet", href="/styles/menubar.css")
    link(rel="stylesheet", href="/styles/home.css")
    script(src="../js/home.js")
    script(src="../js/renderingDates.js")
  body(onload='main()')
    include titleBar
    include menuBar
    .container
      .container-h.flex-row
        .con-header-title='Your Tags'
      .container-b
        .tags
          if(tags)
            each tag in tags.tags
              .tag=tag.title