doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title home page
    style
      include ../public/css/home.css
    script(src="../js/home.js")
    script(src="../js/renderingDates.js")
  body(onload=`main(${questions.length})`)
    include titleBar
    include menuBar
    include questions
    +getHeader(`You have ${questions.length} Questions`)