body {
  margin: auto 0px;
  font-family: Helvetica, sans-serif;
  word-break: break-word;
  overflow-x: hidden;
}

.container{
  text-align: justify;
  width: 75vw;
  position: absolute;
  left: 25vw;
  top: 8vh;
  overflow-y: scroll;
}

.container-h {
  justify-content: space-between;
  padding: 3vh 0vw 3vh 2vw;
  margin-right: 4vw;
  border-bottom: 5px solid rgb(140 140 140);
  font-weight: 400;
  color: rgba(41, 41, 41, 0.9);
}

.con-header-title{
  font-size: xx-large;
}

.askBtn {
  width: 15%;
  align-self: center;
  height: 5vh;
  font-size: larger;
  background-color: #00a8cc;
  color: #ffffff;
  border: none;
  transition: border .3s ease-in;
  outline: none;
}

.askBtn:hover {
  border: 1px solid #00a8cc;
  cursor: pointer;
}

.container-b {
  height: auto;
  margin-right: 4vw;
  font-weight: 600;
  color: rgba(41, 41, 41, 0.9);
}

.question {
  padding: 3vh 0vw;
  border-bottom: solid #C5C5C5 1px;
  text-align: justify;
}

.countName,.countName-a,.countName-ac {
  width: 4vw;
  height: 8vh;
  margin-left: 1vw;
  text-align: center;
  align-self: center;
  border: solid rgba(41, 41, 41, 0.9) 1px;
  justify-content: center;
}

.countName-a {
  border: 1px solid #42b883;
  color: #42b883;
}

.countName-ac {
  background-color: #42b883;
  color: whitesmoke;
  border: 1px solid #42b883;
}

.count {
  font-size: x-large;
  font-weight: 400;
}

.question-details {
  margin-left: 2vw;
}
.title {
  width: 60vw;
  margin-bottom: 1vh;
  font-size: 23px;
  font-weight: 400;
}
.title:hover {
  cursor: pointer;
}
.tags {
  list-style: none;
  overflow: hidden;
  padding: 1vh 0;
}

.tag {
  font-size: large;
  background: #eee;
  color: hsl(0deg 0% 16% / 80%);
  display: inline-block;
  padding: 0vh 0.5vw 0.2vh 0.5vw;
  position: relative;
  margin-right: 1vw;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  font-weight: 100;
  align-self: center;
}

.tag:hover {
  background-color: #00a8cc;
  color: white;
}

.q-author {
  font-size: medium;
  font-weight: 400;
  padding-bottom: 1vh;
  text-align: right;
  color: #f48024;
}

.q-author > .date-time {
  font-size: small;
}
.q-author-name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.ansCount {
  font-size: small;
}

.hide {
  display: none;
}