body {
  margin: auto 0px;
  font-family: Helvetica, sans-serif;
  word-break: break-word;
}
#root {
  width: 98vw;
}
#titlebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px #c5c5c5 solid;
  background: white;
  position: absolute;
  position: fixed;
  width: 100vw;
  z-index: 1;
  height: 8vh;
}
.logo {
  font-size: 30px;
  margin: 2vh 1.5vw;
  cursor: pointer;
}
.unauthBtn {
  padding: 8px;
  height: 4.5vh;
  font-size: medium;
  border: 1px solid;
  border-color: rgb(118, 118, 118);
  border-style: outset;
  background-color: rgb(239, 239, 239);
  border-radius: 2px;
  margin: 2vh 1.5vw;
}
.unauthBtn > a {
  color: black;
  text-decoration: none;
}

.unauthBtn:hover{
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px rgb(66, 66, 66);
}

.avatar {
  height: 4vh;
  border-radius: 50%;
  margin: 2vh 2vw;
  cursor: pointer;
}

.avatar:hover {
  box-shadow: 0px 0px 3px 0px rgb(66, 66, 66);
}

.hide {
  display: none;
}
.container {
  display: flex;
  flex-direction: row;
}
#menubar {
  width: 20vw;
  height: 92vh;
  top: 8vh;
  display: flex;
  flex-direction: column;
  border-right: 1px #c5c5c5 solid;
  position: fixed;
  top: 8vh;
}
.menu-item {
  font-size: larger;
  padding: 10px 20px;
  border-bottom: solid #c5c5c5 1px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: whitesmoke;
}

.highlight {
  border-right: solid burlywood 7px;
}
.question-details{
  text-align: justify;
  width: 80vw;
  position: absolute;
  left: 20vw;
  top: 8vh;
  overflow-y: scroll;
  
}
.question-details::-webkit-scrollbar {
  display: none;
}

.question {
  padding: 15px 10px;
  border-bottom: solid #c5c5c5 1px;
  display: flex;
  flex-direction: row;
  text-align: justify;
}
.content-space {
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.countName {
  width: 5vw;
  height: 8vh;
  margin-left: 1vw;
  text-align: center;
  border: solid #c5c5c5 1px;
  font-weight: 100;
}

.count {
  font-size: x-large;
  font-weight: 1000;
}

.title {
  width: 60vw;
  margin: 0 0 1vh 2vw;
  font-size: 23px;
}
.title >a {
  text-decoration: none;
}
.tags {
  display: flex;
  flex-direction: row;
  margin-left: 2vw;
  margin-top: 2vh;
}
.tags > div {
  border: solid #c5c5c5 1px;
  margin-right: 1vw;
  font-size: large;
  padding: 2px 4px;
}
