.menubar {
  width: 25vw;
  height: 92vh;
  top: 8vh;
  position: fixed;
  padding-top: 2vh;
}

.menu-item {
  font-size: x-large;
  margin: 1vh 3vw 1vh 4vw;
  padding: 1vh 0 1vh 1vw;
  cursor: pointer;
  color: rgba(41, 41, 41, 0.9);
  font-weight: 400;
}

.menu-item:hover {
  background-color:#f4f4f4;
  transition: background 0.2s ease-in ;
}

.highlight {
  border-left: 0.3vw solid #00a8cc;
  background-color: #f4f4f4;
  color: rgba(41, 41, 41, 0.7);
}