.post-answer {
  margin-right: 4vw;
  border-bottom: solid 2px rgba(41,41,41,0.5);
}
.post-answer > span {
  font-size: 20px;
  color: #f48024;
}

.editor-box {
  align-self: center;
  width: 80%;
  text-align: left;
  margin:1% 0vw 0% 2vw;
}

#editor {
  height: 25vh;
  margin-bottom: 2%;
}

.ql-editor {
  font-size: large !important;
}

.ql-syntax {
  background-color: whitesmoke !important;
  color: black !important ;
  overflow: visible;
}

.ql-tooltip {
  left:0 !important
}

pre {
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
}

textarea::placeholder {
  opacity: 0.7;
  font-size: medium;
  font-family: Helvetica, sans-serif;
}
textarea {
  margin-bottom: 3%;
  margin-top: 1%;
  width: 100%;
  font-size: large;
  outline: none;
  padding:1%;
  padding-left:1%;
  font-family: Helvetica, sans-serif;
}
.formFooter {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-bottom: 1.5%;
}
.formFooter > button {
  margin-right:5%;
  width: 30%;
  height: 5vh;
  font-size: larger;
  background-color: #00a8cc;
  color: #ffffff;
  border: none;
  transition: border .3s ease-in;
  outline: none;
}
.formFooter > a:hover, .formFooter > button:hover {
   box-shadow: 0px 0px 3px 0px rgb(66, 66, 66);
}

.popUp {
  color: red;
  align-self: center;
}
.hide {
  display: none;
}