#sideContainer {
  width: 78vw;
  padding: 15px 10px;
}

.topBox {
  display: flex;
  margin: 5vh 3vw;
}

.bigAvatar {
  height: 30vh;
  border-radius: 50%;
  margin-left: 2vh 2vw;
  overflow: hidden;
}

.bigAvatar > img {
  width: 17vw;
  height: 30vh;
}

.details {
  margin-left: 3vw;
}

.username {
  font-size: xxx-large;
  font-weight: 600;
  margin-top: 5vh;
  margin-bottom: 3vh;
  color: rgba(41,41,41,0.9);
}

.label {
  font-size: larger;
  margin: 1vh 0;
}

.bio {
  margin: 1vh 0vw;
  width: 40vw;
  word-break: break-word;
}
