.question-title {
  font-size: xx-large;
}

.votes {
  margin-left: 0;
}
.sidebar {
  margin: 1vh 6vw 1vh 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tickmark > svg{
  cursor: pointer;
  margin-bottom: 2vh;
}
.vote-container{
  margin: 3vh 6vw 3vh 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.up-arrow{
  border-left: 2vw solid transparent;
  border-bottom: 2.5vh solid rgba(41,41,41,0.6);
  border-right: 2vw solid transparent;
  margin-bottom: 0.3vh;
  cursor: pointer;
}

.down-arrow{
  border-left: 2vw solid transparent;
  border-top: 2.5vh solid rgba(41,41,41,0.6);
  border-right: 2vw solid transparent;
  margin-top: 0.3vh;
  cursor: pointer;
}

.highlightUpArrow {
  border-bottom: 2.5vh solid #42B883;
}

.highlightDownArrow {
  border-top: 2.5vh solid #42B883;
}

.question-title-h {
  word-break: break-all;

}

.question-title-b {
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
  justify-content: flex-start;
}

.avatar-div {
  width: 2.5vw;
  margin-right: 1vw;
}

.author-avatar {
  border-radius: 50%;
  cursor: pointer;
  contain: content;
  max-height: 100%;
  opacity: 0.9;
  max-width: 100%;
}

.author {
  font-size: medium;
  cursor: pointer;
}

.author:hover {
  text-decoration: underline;
}

.time {
  font-size: small;
}

.question-body {
  font-size: large;
  margin-left: 2vw;
  display: flex;
  min-height: 11vh;
  justify-content: space-between;
  padding-top: 2vh;
}
.question-body-c {
line-height: 3.5vh;
width: 80%;
}

.q-tag {
  padding-top: 0vh ;
  padding-bottom: 0vh ;
}

.q-tag::before {
  top: 1.4vh;
}
.q-tag::after {
  border-top: 1.7vh solid transparent;
}

.answers {
  margin-top: 2vh;
}

.answers > span{
  font-size: 20px;
  color: #f48024;
}

.answer-author {
  justify-content: flex-end;
  margin-top: 0;
  margin-right: 6vh;
}

.a-comments{
  padding: 0 2vw
}

.a-comments >span {
  color: rgba(41, 41, 41, 0.9);
}

.a-post-comment {
  border-bottom: 1px solid rgba(41, 41, 41, 0.5);
  margin-right: 4vw;
  margin-left: 2vw;
}

.comments {
  margin: 2vh 4vw 2vh 0;
}
.q-post-comment{
  border-bottom: 2px solid rgba(41, 41, 41, 0.5);
  margin-right: 4vw;
}
.comments > span {
  font-size: 20px;
  color: #f48024;
}
.comment {
  line-height: 3vh;
  font-size: 14px;
  font-weight: 100;
  padding: 1vh 0vw 0.3vh 2vw;
  width: 82%;
}
.comment:focus {
  outline: none;
  border-bottom: solid 1px rgba(41, 41, 41, 0.5);
  margin: 1vh 0;
  margin-left: 2vw;
  padding: 0;
}
.flex-row {
  width: 82%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2vw;
  color: #f48024;
}

.border {
  border-bottom:1px dashed rgba(41, 41, 41, 0.5) ;
}
.edit-q-btn {
  color: #f48024;
  font-size: large;
  margin-top: 2vh;
  margin-left: 3vw;
}
.edit-btns {
  display: flex;
  flex-direction: row;
  width: 30%;
  text-align: center;
  margin-bottom: 1.5%;
}

.edit-btns > div {
  margin-right: 1vw;
  height: 3vh;
}
.edit-btns > div:hover, .edit-q-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.edit-btns > .answer-author {
  margin-top: 0;
}
.c-author {
  font-weight: 400;
  padding-bottom: 1vh;
  margin-left: 2vw;
}

.c-author span:first-child:hover {
  text-decoration: underline;
  cursor: pointer;
}

