.question-title {
  font-size: xx-large;
}

.votes {
  margin-left: 0;
}
.sidebar {
  margin: 1vh 6vw 1vh 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tickmark > img {
  cursor: pointer;
  margin-left: 0.6vw;
  margin-bottom: 2vh;
}
.vote-container{
  margin: 3vh 6vw 3vh 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.up-arrow{
  border-left: 2vw solid transparent;
  border-bottom: 2.5vh solid rgba(41,41,41,0.6);
  border-right: 2vw solid transparent;
  margin-bottom: 0.3vh;
  cursor: pointer;
}

.down-arrow{
  border-left: 2vw solid transparent;
  border-top: 2.5vh solid rgba(41,41,41,0.6);
  border-right: 2vw solid transparent;
  margin-top: 0.3vh;
  cursor: pointer;
}

.question-title-h {
  word-break: break-all;

}

.question-title-b {
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
  justify-content: flex-start;
}

.avatar-div {
  width: 2.5vw;
  margin-right: 1vw;
}

.author-avatar {
  max-width: 100%;
}

.author {
  font-size: medium;
}

.time {
  font-size: small;
}

.question-body {
  font-size: large;
  margin-left: 2vw;
  display: flex;
  min-height: 11vh;
  justify-content: space-between;
  padding-top: 2vh;
}
.question-body-c {
line-height: 3.5vh;
width: 80%;
}

.q-tag {
  padding-top: 0vh ;
  padding-bottom: 0vh ;
}

.q-tag::before {
  top: 1.4vh;
}
.q-tag::after {
  border-top: 1.7vh solid transparent;
}

.answers {
  margin-top: 2vh;
}

.answers > span{
  font-size: 20px;
  color: #f48024;
}

.a-comments{
  padding: 0 2vw
}

.a-comments >span {
  color: rgba(41, 41, 41, 0.9);
}

.answers > .comments {
  border-bottom: 1px solid rgba(41, 41, 41, 0.5);
}

.comments {
  margin: 2vh 4vw 2vh 0;
  border-bottom: 2px solid rgba(41, 41, 41, 0.5);
}
.comments > span {
  font-size: 20px;
  color: #f48024;
}
.comment {
  line-height: 3vh;
  font-size: 14px;
  font-weight: 100;
  padding: 1vh 0vw 0.3vh 2vw;
  width: 82%;
}
.flex-row {
  width: 82%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2vw;
  border-bottom:1px dashed rgba(41, 41, 41, 0.5) ;
  color: #f48024;
}

.c-btns {
  display: flex;
  flex-direction: row;
}
.c-btns > div {
  text-decoration: underline;
  cursor: pointer;
  margin-right: 1vw;
}

.c-author {
  font-weight: 400;
  padding-bottom: 1vh;
  margin-left: 2vw;
}

.c-author span:first-child:hover {
  text-decoration: underline;
  cursor: pointer;
}

.comments div:last-child {
  border: none;
}
